<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<table>
    <thead>
        <th>#</th>
        <th>estado</th>
        <th>casos</th>
        <th>mortes</th>
        <th>suspeitos</th>
        <th>recuperados</th>
        <th>Data</th>
    </thead>
    <tbody>
      {% for lista in list %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ lista.state }}</td>
              <td>{{ lista.cases }}</td>
              <td>{{ lista.deaths }}</td>
              <td>{{ lista.suspects }}</td>
              <td>{{ lista.refuses }}</td>
              <td>{{ lista.datetime }}</td>
          </tr>
      {% endfor %}
    </tbody>
</table>
</body>
</html>
