{% extends 'layout.html' %}
{% load static %}
{% block body_block %}
     <main>
        <section>
            <div class="rad-body-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">Selecione um país</h3>
                                </div>
                                <div class="panel-body">
                                    <form method="GET">
                                        <select class="form-control mt-2 " id="country" data-url="{% url 'apiCov:countries' %}"></select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center chart-title-country"></h3>
                                </div>
                                <div class="panel-body">
                                    <div id="graph-container-pie">
                                        <canvas id="pie-chart-country" width="300" height="150"></canvas>
                                    </div>
                                    <p style="color: #f3f3f3; margin-top: auto; text-align: center">Casos confirmados x Casos recuperados x Mortes por País</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center chart-title-country"></h3>
                                </div>
                                <div class="panel-body">
                                    <div id="graph-container-line">
                                        <canvas id="line-chart-country" width="300" height="150"></canvas>
                                    </div>
                                     <p style="color: #f3f3f3; margin-top: auto; text-align: center">Casos confirmados por País</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center chart-title-country"></h3>
                                </div>
                                <div class="panel-body">
                                    <div id="graph-container-line-chart-country-days">
                                        <canvas id="line-chart-country-days" width="300" height="73" data-url="{% url 'apiCov:countryDays' %}"></canvas>
                                    </div>
                                     <p style="color: #f3f3f3; margin-top: auto; text-align: center">Casos confirmados no período de 3 meses</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">casos confirmados em todos os paises</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <canvas id="countries-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block js %}
     <script  src="{% static 'js/countryChart.js' %}"></script>
{% endblock %}
