{% extends 'layout.html' %}
{% load static %}
{% block body_block %}
    <main>
        <section>
            <div class="rad-body-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">Selecione um Estado</h3>
                                </div>
                                <div class="panel-body">
                                    <form method="GET">
                                        <select class="form-control mt-2 " id="state" data-url="{% url 'apiCov:states' %}"></select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center chart-title"></h3>
                                </div>
                                <canvas id="myChart" width="300" height="150"></canvas>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center chart-title"></h3>
                                </div>
                                <canvas id="myChartHorizontal" width="300" height="73"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">casos confirmados em todos os estados</h3>
                                </div>
                                <canvas id="mixedChart" width="800" height="130"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block js %}
     <script  src="{% static 'js/stateCharts.js' %}"></script>
{% endblock %}